@using WebApplication2.Models;
@model MainPageModel
@{
    ViewBag.Title = "Index";
}

<h2>Biblioteka</h2>

<form method="get" action="/Ksiazka/Edit">
    <table>
        <tr>
            <th>Tytul</th>
            <th>Autor</th>
            <th>Liczba stron</th>
            <th>Okladka</th>
        </tr>
        @foreach (KsiazkaModel ksiazka in Model.KsiazkaModelList)
        {
            <tr>
                <td>@ksiazka.Tytul</td>
                <td>@Model.Autor.Get(ksiazka.AutorId).Imie @Model.Autor.Get(ksiazka.AutorId).Nazwisko</td>
                <td>@ksiazka.IloscStron</td>
                <td>@ksiazka.Okladka</td>
                <td>@Html.ActionLink("Edytuj", "Edit", new { id = ksiazka.Id })</td>
                <td>@Html.ActionLink("Usun", "Delete", new { id = ksiazka.Id })</td>
            </tr>
        }
    </table>
    <a href="/Ksiazka/Edit">Dodaj ksiazke</a>
    <a href="/Autor/Edit">Dodaj autora</a>
</form>

